<% if flash[:alert] %>
	<div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= form_for :task, url: tasks_path do |f| %>
	<%= f.text_field :url %>
	<%= f.submit 'Convert', :class => 'submit_button' %>
<% end %>

<% @tasks.each do |task| %>
	<p><%= task.title %>
		<% if task.done %>
			<% if task.failed %>
				<span class="status">Failed</span>
			<% else %>
				<%= link_to 'Download', download_task_path(task), :class => 'button' %>
			<% end %>
			
			
			<%= link_to 'Remove', task_path(task), :class => 'button',
					method: :delete,
					data: { confirm: 'Are you sure?' } %>
			<% else %>
				<span class="status">Processing</span>
			<% end %>
	</p>
<% end %>